MYSQL_DATABASE=nutricare_pro
MYSQL_USER=nutricare
MYSQL_PASSWORD=nutricare_password
MYSQL_ROOT_PASSWORD=root_password
APP_ADMIN_EMAIL=admin@nutricarepro.com
APP_ADMIN_PASSWORD=change-this-password
APP_ADMIN_NAME=Nutriologo Administrador
